In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [6]:
df = pd.read_excel('./data/spacex_pastlaunches.xlsx')
df.tail()

,Date,Vehicle,Core,Launch site,Orbit,Payload mass (kg) - Ests.,Payload(s),Customer,Mission outcome,Landing outcome
79,2009 Jul 14,Falcon 1,NaN,Kwajalein,LEO,200.0,RazakSat,ATSB,SUCCESS,No attempt
80,2008 Sep 28,Falcon 1,NaN,Kwajalein,LEO,165.0,RatSat,SpaceX,SUCCESS,No attempt
81,2008 Aug 03,Falcon 1,NaN,Kwajalein,LEO,91.5,Trailblazer / PRESat / NanoSail-D / Explorers,ORS / NASA / Celestis,FAILURE,No attempt
82,2007 Mar 21,Falcon 1,NaN,Kwajalein,LEO,NaN,DemoSat,DARPA,FAILURE,No attempt
83,2006 Mar 24,Falcon 1,NaN,Kwajalein,LEO,19.5,FalconSat,DARPA,FAILURE,No attempt